<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">DPM Album</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if(auth_nav) { %> 
            <a class="nav-link" href="/">home</a>
            <a class="nav-link" href="/photos">photos</a>
            <a class="nav-link" href="/logout">logout</a>
          <% } else { %>
            <a class="nav-link" href="/login">login</a>
          <% }%>   
          
        </div>
      </div>
    </div>
  </nav>
</header>
<section id="loading" data-display="hide">
  <div class="d-flex align-items-center" id="loading__textbox">
    <strong id="loading__message"></strong>
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
  </div>  
</section>

<main class="container-fluid main <%= main %>">