h1, p {
  text-align: center;
}

.main {
  padding-top: 30px;
}

.card {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#photoDisplay.hide {
  display: none;
}

#photoDisplay.show {
  display: block;
}

#photoDisplay {
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}