.main {
  padding-top: 30px;
}

[data-display='hide'] {
  display: none;
}

[data-display='show'] {
  display: block;
}

[data-preview="img"] { 
  display: block; 
  width: 80%;
  height: auto;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.5);
  &__textbox {
    background-color: white;
    width: 100%;
    padding: 50px;
  }
}

#formContainer {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
}

[data-preview="photo"] {
  display: block;
  width:100%;
}

#aside__works {
  max-height: 320px;
}

figure.card {
  width: 300px;
}

.card-img-top {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 10px auto 0 auto;
}