<%- include ('../partials/head') %>
  <%- include ('../partials/header') %>

  <h1>DPM Album</h1>
  <div class="card">
    <form class="card-body">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="text to process" aria-label="text to process" aria-describedby="process_btn" id="txt">
        <button class="btn btn-outline-secondary" type="button" id="process_btn" data-process="txt">process</button>
        <button class="btn btn-outline-secondary" type="reset">reset</button>
        
      </div>
    </form>

  </div>
  <p class="mt-4 border-0">
    <input class="border-0" type="text" id="processed_txt" readonly>
  </p>


<%- include('../partials/foot') %>