<%- include ('../partials/head') %>
  <%- include ('../partials/header') %>

    <h1>DPM Album</h1>
    <section class="row">
      <form action="/api/photos" class="card col-md-7" id="photoUpload">
        <div class="card-header">add photo</div>
        <div class="card-body">
          <div class="mb-3">
            <label for="work" class="form-label">work</label>
            <input class="form-control" type="text" id="work" name="work">
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">title</label>
            <input class="form-control" type="text" id="title" name="title">
          </div>
          <div class="mb-3">
            <label for="mode" class="form-label">mode</label>
            <input class="form-control" list="modeOptions" id="mode" name="mode" placeholder="Type to search...">
            <datalist id="materialOptions">
              <option value="sculpture">
              <option value="painting">
              <option value="drawing">
            </datalist>
          </div>
          <div class="mb-3">
            <label for="material" class="form-label">material</label>
            <input class="form-control" list="materialOptions" id="material" name="material"
              placeholder="Type to search...">
            <datalist id="materialOptions">
              <option value="clay">
              <option value="bronze">
              <option value="marble">
              <option value="oil on canvas">
              <option value="pencil">
            </datalist>
          </div>
          <div class="mb-3">
            <label for="photo" class="form-label">select photo</label>
            <input class="form-control" type="file" id="photo" name="photo">
          </div>
        </div>
        <div class="card-footer">
          <div class="mb-3">
            <button type="submit" class="btn btn-outline-secondary btn-sm">submit photo</button>
            <button type="reset" class="btn btn-outline-secondary btn-sm">reset</button>
          </div>
        </div>
      </form>
      <aside class="col-md-5" id="photoContainer" data-display="hide">
        <h4>selected photo</h4>
        <img src="https://res.cloudinary.com/dpm/image/upload/v1649066098/dev_setup/imanpjswundhgfq7fzsb.jpg"
          alt="selected photo" id="photo">
      </aside>
    </section>



    <%- include('../partials/foot') %>