<%- include ('../partials/head') %>
  <%- include ('../partials/header') %>

  <h2 class="h3">works <small><a href="/works/add" title="add a new work"><i class="bi bi-plus-square"></i></a></small></h2>

  <%- include('../partials/worksTiles'); %>

    <%- include('../partials/foot') %>