<%- include ('../partials/head') %>
  <%- include ('../partials/header') %>

  <div class="container-fluid d-flex justify-content-evenly">

    
    <p><a href="/works">all</a> <i class="bi bi-dot"></i> <a href="/works?mode=sculpture">sculpture</a> </i> <i class="bi bi-dot"></i> <a href="/works?mode=painting">painting</a> <i class="bi bi-dot"></i> <a href="/works/drawing">drawing</a></p>

  </div>




  <%- include('../partials/worksTiles'); %>

    <%- include('../partials/foot') %>